<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCggUOUUFaEgKVo-tSqUyj8BqJXbilr4q0</string>
	<key>GCM_SENDER_ID</key>
	<string>169548083158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webrtcDemo</string>
	<key>PROJECT_ID</key>
	<string>webrtc-aa79b</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-aa79b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169548083158:ios:df8a11a589b385ad09be77</string>
</dict>
</plist>